{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<div class="divider">
    <span>Proceed with the Demonstration</span>
</div>

<div class="login-container">
    <div class="login-form">
        <h2>Sign In</h2>
        
        {% if error %}
            <div class="error-msg">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label for="username">EMAIL ADDRESS</label>
            <input type="email" name="username" id="username" placeholder="name@email.com" required>

            <label for="password">SECURE PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="••••••••" required>

            <button type="submit" id="login">INITIALIZE TERMINAL</button>
        </form>

        <p class="signup-text">Are you a New User? <a href="{% url 'register' %}">Create Account</a></p>
    </div>
</div>

{% endblock %}