<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <style>
            .logo{
                display: flex;
                text-align: center;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
                padding: 0;
                font-size: larger;
                font-weight: bolder;
            }
        </style>

        <div class="logo">
            <h1>BANKING WALLET SYSTEM</h1>
        </div>

        {% block content %}

        {% endblock %}
    </body>
</html>